.Clients {
  width: 100%;
  margin: 400px 0;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 60px;
  margin: auto 200px;
  width: 100%;
}

.clients-grid > * {
  width: 100%;
}

.clients-title {
  display: flex;
  justify-content: center;
}