.Clients {
  height: 100vh;
  min-height: 1000px;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-left: 200px;
  margin-right: 200px;
}

.clients-grid > * {
  width: 100%;
}

.clients-title {
  display: flex;
  justify-content: center;
}

.logo {
  max-height: 12vw;
  max-width: 12vw;
  height: auto;
  width: auto;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
}