.col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;;
}

.image {
  width: 100%;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
