.elevate-logo {
  width: 400px;
  padding-right: 80px;
}

.sticky-nav-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: sticky;
  top: 40px;
  z-index: 5;
}

.sticky-nav-wrapper > * {
  width: 300px;
}