.Us {
  background-image: url('../assets/images/stock-teamwork.png');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Rokkitt', serif;
  height: 100vh;
  margin: 400px 0;
  min-height: 900px;
}

h2 {
  font-size: 44px;
}

p {
  font-size: 32px;
}

.align-left {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parallax-content {
  position: relative;
}

.us {
  position: relative;
}

.us-sticky {
  position: sticky;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.us-wrapper {
  color: #fff;
  height: calc( 100vw * 2 / 3);
  margin: 0 100px;
  /* padding: 0 300px; */
  position: relative;
  width: 500px;
}

.us-wrapper > * {
  text-align: center;
}