.Us {
  /* height: 100vh; */
  min-height: 900px;
}

h2 {
  font-size: 44px;
}

p {
  font-size: 32px;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parallax-content {
  position: relative;
}

.sticky-nav-Us {
  /* color: #fff; */
}

.us {
  position: relative;
}

.us-sticky {
  position: sticky;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.us-wrapper {
  color: #fff;
  background-image: url('../assets/images/stock-teamwork.png');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Montserrat';
  height: calc( 100vw * 2 / 3);
  padding: 0 300px;
  position: relative;
}

.us-wrapper > * {
  text-align: center;
}